{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "Contacts" %}</h3>
</div>
<div class="row">
	<div class="col-md-3">
		<br>
		<h2 align="center">Высший колледж "Astana Polytechnic" города Астана</h2>
		<address>
			<p>улица Бейбитшилик 39, Астана 010000<br> 
			<a href="tel:+77083567850">+77083567850</a><br>
			<a href="tel:+77473315290">+77473315290</a>
		</address>				
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.2454275464042!2d71.4148261766004!3d51.17769927174028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245872cf57a5a1f%3A0x7e1babc14a321933!2z0JLRi9GB0YjQuNC5INC60L7Qu9C70LXQtNC2ICJBc3RhbmEgUG9seXRlY2huaWMiINCz0L7RgNC-0LTQsCDQkNGB0YLQsNC90LA!5e0!3m2!1sru!2skz!4v1716795704724!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}