{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}

<!-- Каталог -->
<div class="div-width-100-text-center">
	<h3>kyuubi (Кьюби)</h3>	
</div>

<div class="row">
	<div class="col-md-8">
		<h3>Более 10 000 казахстанцев ежедневно заказывают товары в интернет-магазинах.</h3>	
		<p>Онлайн-шопинг давно стал популярным во всем мире. Казахстанские покупатели также предпочитают заказывать товары через интернет. Такой формат шопинга позволяет экономить личное время и средства. Но иногда вопросы доставки могут омрачить покупателя. В первую очередь проблемы могут возникнуть с тем, что большинство интернет-магазинов США не отправляют товары напрямую в казахстанские города.</p>
		<p>К примеру, продавцы на крупнейшей торговой площадке eBay не могут предложить услуги международной доставки.</p>
		<p>Не стоит отказывать себе в удовольствии заниматься онлайн-шопингом в американских интернет-магазинах. Ведь есть посредники для покупки в США. Компания <strong>kyuubi</strong> поможет преодолеть все трудности и быстро получить заказ.</p> 
	</div>
	<div class="col-md-4" style="position:relative;overflow:hidden;">
		<img src="{% static 'images/index.png' %}" alt="logo" style="width: 100%;">		
		<div><a href="tel:+77083567850">+77083567850</a></div>
		<div><a href="tel:+77473315290">+77473315290</a></div>
		<div><a href="tel:kyuubi@gmail.com">kyuubi@gmail.com</a></div>
	</div>
</div>


{% endblock content %}

